*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	justify-items: center;

	margin: 20px 10px;
}

.cards {
	margin: 10px;
	border: 1px solid rgb(102, 100, 100);

	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.cards div {
	cursor: pointer;
	padding: 10px;
	text-align: center;

	height: 200px;
	width: 300px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 2px solid green;
}

.selected {
	background-color: red;
	color: white;
}
