*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	justify-items: center;

	margin: 20px 10px;
}

.cards {
	margin: 10px;

	width: 400px;
}

.cards div {
	cursor: pointer;
	padding: 10px;

	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;

	border: 1px solid rgb(102, 100, 100);
}

.selected {
	background-color: red;
	color: white;
}
