* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #fafafa;
	font-family: sans-serif;
}

.App {
	display: flex;
	justify-content: center;
}

.background {
	margin-top: 100px;
}

.container {
	width: 50vw;
	font-size: 1.4rem;
	background-color: #fff;
}

.question {
	padding: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 1.2rem;
	margin: 10px;
}

.index {
	color: #ced4da;
}

.title {
	/* color: #0e3768; */
	/* color: #ced4da; */
	color: #333;
}

.sign {
	color: #333;
}

/* border-top: 4px solid #fff; */

/* border-bottom: 4px solid #fff; */

/* color: #ced4da; */

/* color: #868e96; */

/* border-top: 4px solid #087f5b; */

/* color: #087f5b;  */
